<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
        <div class="row text-dark text-left justify-content-center m-5">
            <div class="col-3">
                <h5 class="border-bottom border-dark pb-2" style="width: max-content">About us</h5>
                <ul class="list-unstyled my-3" style="font-size: smaller">
                    <li class="my-3">FAQs</li>
                    <li class="my-3">Events</li>
                    <li class="my-3">Services</li>
                </ul>
            </div>
            <div class="col-3">
                <h5 class="border-bottom border-dark pb-2" style="width: max-content">Quick links</h5>
                <ul class="list-unstyled my-3"  style="font-size: smaller">
                    <li class="my-3">Home</li>
                    <li class="my-3">Products</li>
                    <li class="my-3">Events</li>
                </ul>
            </div>
            <div class="col-3">
                <h5 class="border-bottom border-dark pb-2" style="width: max-content">Contact</h5>
                <ul class="list-unstyled my-3"  style="font-size: smaller">
                    <li class="my-3">Phone: +24 0938 9989</li>
                    <li class="my-3">Mail: ecosmetics@mail.com</li>
                    <li class="my-3">Address: st. Ecosmetics no.1</li>
                </ul>
            </div>
            <div class="col-3">
                <h5 class="border-bottom border-dark pb-2" style="width: max-content">Social media</h5>
                <div style="font-size: x-large">
                    <i class="fab fa-facebook mx-1"></i>
                    <i class="fab fa-instagram mx-1"></i>
                    <i class="fab fa-twitter mx-1"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(107,107,107,0.14);">
        © 2022 Copyright:
        <a class="text-dark">Web Programming</a>
    </div>
    <!-- Copyright -->
</footer>