.user-comments{
    box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.41);
    /*background-color: white;*/
    /*border: 1px solid rgba(128, 128, 128, 0.31);*/
    /*border-radius: 0;*/
}

.comments-info{
    border-bottom: 1px solid rgba(128, 128, 128, 0.31);
}

.comment-card-title{
    font-weight: bold;
}



