.fa-shopping-cart:hover{
    color: #F7D9E5;
    transition: all 0.5s ease-in-out;
}

.bg-pink{
    background: #F7D9E5;
    color: #848484;
}

.border-b{
    border-bottom: 1px solid rgba(107, 107, 107, 0.34);
}
