.card-header-filters{
    background: white;
}

.card-header-filters > h2 > button{
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
}

.card-header-filters > h2 > button:hover{
    color: #7a7a7a;
}

.card-body-filters > form > ul > li > button{
    color: #A3948E;
}

.card-body-filters > form > ul > li > button:hover{
    color: #e08b7b;
}