.table-content{
    background-color: #fff;
    box-shadow: 0 0 25px -15px rgba(0,0,0,0.3);
    padding: 3%;
}

.table-title{
    color: #888;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding: 0 0 2px;
    margin: 0 0 30px;
    border-bottom: 2px solid #FF97A8;
}

.table > tbody > tr > td {
    vertical-align: middle;
}


.label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: white;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.31);
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

/*.search-bar{*/
/*    width: 50%;*/
/*    padding: 9px 11px;*/
/*    margin: 0 0 20px;*/
/*    border-radius: 50px;*/
/*    transition: all 0.3s ease 0s;*/
/*}*/