<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Category');
            data.addColumn('number', 'Products');
            data.addRows([[${categoriesChart}]]);
            var options = {
                'title': 'Products per category',
                'width': 450,
                'height': 450,
                pieHole: 0.4,
                colors: ['#ad1a4c', '#de3c72', '#d26289', '#a97683', '#deaabb', '#ceaab9']
            };
            var chart = new google.visualization.PieChart(document.getElementById('categories_chart'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Brand');
            data.addColumn('number', 'Products');
            data.addRows([[${brandsChart}]]);
            var options = {
                'title': 'Products per brand',
                'width': 750,
                'height': 450,
                bar: {groupWidth: "80%"}
            };
            var chart = new google.visualization.BarChart(document.getElementById('brands_chart'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Month');
            data.addColumn('number', 'Sales');
            data.addColumn('number', 'Expenses');
            data.addColumn('number', 'Profit');
            data.addRows([[${profitChart}]]);

            var options = {
                title: 'Company Performance',
                hAxis: {title: 'Month', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('profit_chart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div class="mx-5 emp-profile">
    <div class="ml-5 row">
        <div class="col-9">
            <h2 th:text="${user.firstName + ' ' + user.lastName}"></h2>
            <div>
                <p th:text="'Email: ' + ${user.email}"></p>
                <p>Role: ADMIN</p>
            </div>
        </div>
        <div class="col-2 ml-auto">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
    <hr>
    <div class="row justify-content-around">
        <div class="col-3 box p-5 m-4">
            <div class="d-flex justify-content-between">
                <h5>Users</h5>
                <i class="fas fa-user-friends"></i>
            </div>
            <h2 th:text="${allUsers}"></h2>
        </div>
        <div class="col-3 box p-5 m-4">
            <div class="d-flex justify-content-between">
                <h5>Reviews</h5>
                <i class="fas fa-star"></i>
            </div>
            <h2 th:text="${allReviews}"></h2>
        </div>
        <div class="col-3 box p-5 m-4">
            <div class="d-flex justify-content-between">
                <h5>Orders</h5>
                <i class="fas fa-shopping-basket"></i>
            </div>
            <h2 th:text="${allOrders}"></h2>
        </div>
    </div>
    <div class="row ml-4 my-4">
        <div class="col-4 mr-2" id="categories_chart"></div>
        <div class="col-7 mx-5" id="brands_chart"></div>
        <div class="ml-3 my-4" id="profit_chart" style="width: 1250px; height: 450px;"></div>
    </div>
</div>
</body>
</html>