<!--Pagination-->
<div th:if="${totalPages > 1}">
    <div class="row">
        <div class="col-sm-1">
            <a th:if="${currentPage > 1}"
               th:href="@{'/products/details/'+ ${product.id} + '/page/1'}"
               class="btn btn-light">
                First
            </a>
            <span th:unless="${currentPage > 1}">First</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage > 1}"
               th:href="@{'/products/details/'+ ${product.id} +'/page/' + ${currentPage - 1}}"
               class="btn btn-light">
                Prev
            </a>
            <span th:unless="${currentPage > 1}">Prev</span>
        </div>

        <div>
            <span class="page-item">
                <span th:text="${'Page' + ' ' + currentPage + ' ' + 'of' + ' ' + totalPages}"></span>
            </span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/products/details/'+ ${product.id} +'/page/' + ${currentPage + 1}}"
               class="btn btn-light">
                Next
            </a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/products/details/'+ ${product.id} + '/page/' + ${totalPages}}"
               class="btn btn-light">
                Last
            </a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>