<div class="my-5 form-bg">
    <div class="container">
        <div class="form-container">
            <div class="right-content">
                <h3 class="form-title">Processing Order</h3>
                <div>
                    <h3 class="order-msg text-left">Thank you for your order!</h3>
                    <div class="progress my-5">
                        <div id="dynamic" class="progress-bar bg-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span id="current-progress"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/products" class="btn btn-block btn-details">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
