<div class="mr-5 ml-5 pr-5 pl-5">

    <div class="row mt-5 mb-3">
        <div class="col-3">
            <form th:action="@{'/products'}">
                <button class="btn btn-link btn-block clear-filter text-decoration-none" type="submit" value="">
                    <i class="fas fa-times"></i>
                    Clear filters
                </button>
            </form>
        </div>
        <div class="col-9">
            <!--    Search-->
            <form th:action="@{'/products/page/1?name=' + ${name}}" autocomplete="off">
                <div class="searchBar sb-products mb-3">
                    <input id="searchQueryInput"
                           type="text"
                           name="name"
                           placeholder="Search for a product"
                           value=""/>
                    <button id="searchQuerySubmit"
                            type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <!--    Accordion-->
        <div class="col-3">
            <th:block th:replace="product-filtering-sidebar.html"></th:block>
        </div>
        <!--    Products-->
        <div class="col-9">

            <div class="row ml-2">
                <div th:each="product: ${products}" class="card-width mb-2">
                    <div class="card card-product">
                        <div class="card-body card-body-info bg-white text-center">
                            <div class="mb-3 card-img-actions text-center">
                                <img th:src="${product.image}" width="150px" height="150px"/>
                            </div>
                            <div>
                                <h6 th:text="${product.name}" class="font-weight-semibold mb-2"></h6>
                                <p th:text="${product.category.name}" class="text-muted" data-abc="true"></p>
                            </div>
                            <h2 th:text="'$' + ${product.price}" class="mt-n2 font-weight-semibold"></h2>
                            <div class="progress">
                                <div class="progress-bar bg-warning text-dark"
                                     role="progressbar"
                                     th:style="'width:' + ( ${product.rating} == 0  ? '0' : (${product.rating}) * 20.0 ) + '%;'"
                                     th:aria-valuenow="${product.rating}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     th:text="'Rating: ' + ${product.rating}">
                                </div>
                            </div>
                            <div class="mt-2">
                                <form method="POST" th:action="@{'/shopping-cart/add-product/{id}' (id=${product.id})}">
                                    <button type="submit" class="mb-2 btn btn-block btn-sm btn-cart pt-2 pb-2">
                                        Add to cart
                                    </button>
                                </form>
                                <a class="btn btn-block btn-sm btn-details pt-2 pb-2"
                                   th:href="@{'/products/details/{id}' (id=${product.id})}">
                                    Details
                                </a>
                            </div>
                        </div>

                        <div class="card-footer card-footer-info d-flex justify-content-between">
                            <div class="row">
                                <form method="POST" th:action="@{'/products/delete/{id}' (id=${product.id})}">
                                    <button type="submit" class="btn btn-link text-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                                <a th:href="@{'/products/edit-form/{id}' (id=${product.id})}"
                                   class="btn btn-link">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </div>
                            <div class="m-1 text-muted"
                                 th:if="${product.quantity > 0}"
                                 th:text="'In stock: '+ ' ' + ${product.quantity}">
                            </div>
                            <div class="m-1 text-muted"
                                 th:if="${product.quantity == 0}"
                                 th:text="'Out of stock!'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-1 ml-2 mr-1">
                <a href="/products/add-form" class="btn btn-block btn-link text-decoration-none button-style">
                    Add new product
                </a>
            </div>

            <!--Pagination-->
            <div class="mt-3 d-flex justify-content-center">
                <th:block th:replace="product-pagination.html"></th:block>
            </div>

        </div>
    </div>
</div>

