<div class="container" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="card-details card-details-info">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active ml-n5" id="pic-1">
                            <img th:src="${product.image}" width="500" height="520"/>
                        </div>
                    </div>
                </div>

                <div class="vertical"></div>

                <div class="details col-md-6">
                    <h1 th:text="${product.name}" class="product-title mt-2"></h1>
                    <div>
                        <h5 class="text-muted mt-2" th:text="'Brand: ' + ${product.brand.name}"></h5>
                    </div>
                    <div>
                        <h5 class="text-muted mt-2" th:text="'Category: ' + ${product.category.name}"></h5>
                    </div>
                    <p th:text="${product.description}" class="product-description text-justify mt-2"></p>
                    <h1 th:text="'$' + ${product.price}" class="price mt-2"></h1>

                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="progressbar-title">Reviews</h3>
                                <div id="review-progress" class="progress">
                                    <div class="progress-bar"
                                         th:style="'width:' + ( ${product.rating} == 0  ? '0' : (${product.rating}) * 20.0 ) + '%;' +
                                                'background: #ed687c'" ;>
                                                <span class="progress-icon fa fa-star"
                                                      style="border-color:#ed687c; color:#ed687c;"></span>
                                        <div class="progress-value"
                                             th:text="${#numbers.formatDecimal(product.rating == null ? 0 : product.rating, 1, 1)}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-3 numReviews">
                                <h4 th:text="'Total reviews: ' + ${numReviews}" style=""></h4>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex mt-4">
                        <a class="btn btn-all-reviews mr-3"
                           href="#comments">See all reviews
                        </a>
                        <a sec:authorize="hasRole('ROLE_USER')"
                           class="btn btn-leave-review"
                           th:if="${reviewsByUser.size() == 0}"
                           th:href="@{'/reviews/{id}/reviews-form' (id=${product.id})}">Leave a review
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:if="${reviews.size() > 0}" id="comments">
        <th:block th:replace="comments.html"></th:block>
    </div>
</div>