<form th:action="@{'/products/page/1'}">
    <button class="btn btn-dark mb-3" type="submit" value="">Clear filters</button>
</form>
<div class="row">
    <!--    Accordion-->
    <th:block th:replace="product-filtering-sidebar.html"></th:block>
    <!--    Products-->
    <div class="col-md-9 m-0">

        <!--    Search-->
        <form th:action="@{'/products/page/1?name=' + ${name}}">
            <div class="searchBar mb-3">
                <input id="searchQueryInput"
                       type="text"
                       name="name"
                       placeholder="Search for a product"
                       value=""/>
                <button id="searchQuerySubmit"
                        type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <div class="row ml-2">
            <div th:each="product: ${products}" class="card-width mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-img-actions text-center">
                            <img th:src="${product.image}" width="150px" height="150px"/>
                        </div>
                    </div>

                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 th:text="${product.name}" class="font-weight-semibold mb-2"></h6>
                            <p th:text="${product.category.name}" class="text-muted" data-abc="true"></p>
                        </div>
                        <h3 th:text="'$' + ${product.price}" class="mb-0 font-weight-semibold"></h3>

                        <div class="d-flex justify-content-between mt-2">
                            <a class="btn btn-outline-primary btn-sm"
                               th:href="@{'/products/details/{id}' (id=${product.id})}">
                                <i class="fas fa-barcode"></i> Details</a>
                            <form method="POST" th:action="@{'/shopping-cart/add-product/{id}' (id=${product.id})}">
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fa fa-cart-plus mr-2"></i>
                                    Add to cart
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-between">
                        <div class="row">
                            <form method="POST" th:action="@{'/products/delete/{id}' (id=${product.id})}">
                                <button type="submit" class="btn btn-link text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                            <a th:href="@{'/products/edit-form/{id}' (id=${product.id})}"
                               class="btn btn-link">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                        <div class="text-danger m-1"
                             th:if="${product.quantity > 0}"
                             th:text="'In stock: '+ ' ' + ${product.quantity}">
                        </div>
                        <div class="text-danger m-1"
                             th:if="${product.quantity == 0}"
                             th:text="'Out of stock!'">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <a href="/products/add-form" class="btn submit">
                Add new product
            </a>
        </div>

        <!--Pagination-->
        <th:block th:replace="product-pagination.html"></th:block>
    </div>
</div>