<div class="container pb-5 mt-n2 mt-md-n3">
    <div class="row">
        <div class="col-xl-9 col-md-8">
            <h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-pink">
                <span>Products</span><a
                    class="font-size-sm" href=/products>
                <i class="fas fa-angle-left"></i>
                Continue shopping</a></h2>
            <!-- Item-->
            <div th:each="product: ${products}" class="d-sm-flex justify-content-between my-4 border-b">
                <div class="media d-block d-sm-flex text-center text-sm-left mb-3">
                    <img th:src="${product.image}" width="200" height="200" alt=""/>
                    <div class="media-body pt-3">
                        <h5 th:text="${product.name}"
                            class="product-card-title font-weight-semibold border-0 pb-0"></h5>
                        <div th:text="'Category: ' + ${product.category.name}"
                             class="font-size-sm text-muted mr-2"></div>
                        <div th:text="'Brand: ' + ${product.brand.name}" class="font-size-sm text-muted mr-2"></div>
                        <h6 th:text="'$' +${product.price}" class="font-size-lg text-success pt-2"></h6>
                    </div>
                </div>


                <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                    <form th:action="@{'/shopping-cart/edit-cart/{productId}' (productId=${product.id})}">
                        <div class="form-group mb-2">
                            <label for="newQuantity">Quantity</label>
                            <input class="form-control form-control-sm"
                                   type="number"
                                   id="newQuantity"
                                   name="newQuantity"
                                   th:each="p : ${productQuantity}"
                                   th:if="${#lists.contains(p, product)}"
                                   th:value="${p[1]}">
                        </div>
                        <div>
                            <button class="btn btn-outline-secondary btn-sm btn-block mb-2"
                                    type="submit">
                                Update cart
                            </button>
                        </div>
                    </form>
                    <div>
                        <form th:method="POST" th:action="@{'/shopping-cart/remove-product/{id}' (id=${product.id})}">
                            <button class="btn btn-outline-danger btn-sm btn-block mb-2" type="submit">
                                Remove
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <a href="/order" class="add-item btn btn-block btn-secondary">
                Proceed to checkout
            </a>
        </div>
        <!-- Sidebar-->
        <div class="col-xl-3 col-md-4 pt-3 pt-md-0">
            <h2 class="h6 px-4 py-3 bg-pink text-center">Subtotal</h2>
            <div th:text="'$' + ${total}" class="h3 font-weight-semibold text-center py-3 border-b"></div>
        </div>
    </div>
</div>