<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                         alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        Kshiti Ghelani
                    </h5>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <a href="/events?interest=INTERESTED">Your upcoming events</a>
                    <ul>
                        <li th:each="event : ${events}" th:text="${event.eventName}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <div class="justify-content-center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Order id
                </th>
                <th>
                    Purchase date
                </th>
                <th>
                    Shipping
                </th>
                <th>
                    Total price
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${#temporals.format(order.purchaseDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${order.shipping}"></td>
                <td th:text="${order.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>




