<div class="mx-5 emp-profile">
    <div class="ml-5 row my-4">
        <div class="col-9">
            <h2 th:text="${user.firstName + ' ' + user.lastName}"></h2>
            <div>
                <p th:text="'Email: ' + ${user.email}"></p>
            </div>
        </div>
        <div class="col-2 ml-auto">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-5">
            <a class="btn btn-outline-dark" href="/events?interest=INTERESTED">Your upcoming events</a>
            <div class="row">
                <article th:each="event: ${events}" class="card-events">
                    <section class="date">
                        <time>
                        <span class="text-light" th:text="${#temporals.day(event.startDate)}">
                        </span>
                            <span th:text="${#temporals.monthNameShort(event.startDate)}">
                        </span>
                        </time>
                    </section>

                    <section class="card-cont">
                        <div>
                            <small>eCOSMETICS</small>
                            <h6 class="event-name" th:text="${event.eventName}"></h6>
                        </div>
                    </section>
                </article>
            </div>
        </div>
        <div class="col-7 justify-content-center">
            <h3>Orders</h3>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>
                        Order id
                    </th>
                    <th>
                        Purchase date
                    </th>
                    <th>
                        Shipping
                    </th>
                    <th>
                        Total price
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${#temporals.format(order.purchaseDate, 'dd-MM-yyyy')}"></td>
                    <td th:text="${order.shipping}"></td>
                    <td th:text="${#numbers.formatDecimal(order.totalPrice == null ? 0 : order.totalPrice, 1, 1)}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




