<div>
    <div th:if="${review.stars} == 0.5" class="d-flex justify-content-start">
        <i class="fas fa-star-half-alt"></i>
    </div>
    <div th:if="${review.stars} == 1.0" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
    </div>
    <div th:if="${review.stars} == 1.5" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <div th:if="${review.stars} == 2.0" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <div th:if="${review.stars} == 2.5" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <div th:if="${review.stars} == 3.0" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <div th:if="${review.stars} == 3.5" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <div th:if="${review.stars} == 4.0" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
    <div th:if="${review.stars} == 4.5" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <div th:if="${review.stars} == 5.0" class="d-flex justify-content-start">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
</div>